<p id="notice"><%= notice %></p>

<img src="<%= @show.image_url %>" alt="<%= @show.image_url %>"/>
<p>
  <b>Name:</b>
  <%= @show.name %>
</p>
<p>
  <b>Season:</b>
  <%= @show.season %>
</p>
<p>
  <b>Episode:</b>
  <%= @show.episode %>
</p>
<p>
  <b>Runtime:</b>
  <%= @show.runtime %>
</p>
<p>
  <b>HD:</b>
  <%= @show.hd %>
</p>
<p>
  <b>Next Show Date:</b>
  <%= @show.next_show_date %>
</p>
<p>
  <b>Next Season:</b>
  <%= @show.next_season %>
</p>
<p>
  <b>Next Episode:</b>
  <%= @show.next_episode %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
