<p id="notice"><%= notice %></p>

<img src="<%= @show.image_url %>" alt="<%= @show.image_url %>"/>
<p>
  <b>Name:</b>
  <%= @show.name %>
</p>
<p>
  <b>TVRage Id:</b>
  <%= @show.tvrage_id %>
</p>
<p>
  <b>Season:</b>
  <%= @show.season %>
</p>
<p>
  <b>Episode:</b>
  <%= @show.episode %>
</p>
<p>
  <b>Runtime:</b>
  <%= @show.runtime %>
</p>
<p>
  <b>HD:</b>
  <%= @show.hd %>
</p>
<p>
  <b>Last Show Date:</b>
  <%= @show.last_show_date %>
</p>
<p>
  <b>Last Season:</b>
  <%= @show.last_season %>
</p>
<p>
  <b>Last Episode:</b>
  <%= @show.last_episode %>
</p>
<p>
  <b>Next Show Date:</b>
  <%= @show.next_show_date %>
</p>
<p>
  <b>Next Season:</b>
  <%= @show.next_season %>
</p>
<p>
  <b>Next Episode:</b>
  <%= @show.next_episode %>
</p>
<p>
  <b>Search Name:</b>
  <%= @show.search_name %>
</p>
<% unless @downloads.nil? %>
<p>
  <b>Downloads:</b>
  <table width="100%" class="tablesorter" id="downloads_table">
    <thead>
    <tr>
      <th>Season</th>
      <th>Episode</th>
      <th>Transmission ID</th>
      <th>Status</th>
      <th>Progress</th>
    </tr>
    </thead>
  <% @downloads.each do |download| %>
    <tbody>
    <tr>
      <td><%= download.season %></td>
      <td><%= download.episode %></td>
      <td><%= download.download_id %></td>
      <td><%= download.statusName %></td>
      <td><div class="progressbar" percent="<%= download.progressPercent %>"><div class="progress-label"><%= download.progressPercent %></div></div></td>
    </tr>
    </tbody>
  <% end %>
  </table>
</p>
<% end %>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
